.anythinglisting4 ul{
    margin: 0;
    padding: 0;
    list-style: inside;
  }
  .anythinglisting4 ul li{
    margin-top: 10px;
  }
  .anythinglisting4 ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: number;
    position: relative;
  }

  .anythinglisting4 ul li ul::before {
    border-left: 2px solid #C4C7C9;
    content: "";
    position: absolute;
    left: 3px;
    height: 100%;
    z-index: 0;
  }

  .anythinglisting4 ul li ul li {
    position: relative;
    font-size: 16px;
    color: #000;
    padding: 10px 0 2px 20px;
  }

  .anythinglisting4 ul li ul li::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #C4C7C9;
    left: 0;
    text-align: center;
    content: "";
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    line-height: 38px;
  }